

@media (orientation: portrait) {
  body {
    background: linear-gradient(to right, #10d3ff, #fff00f);
  }
  :root {
    --background-light: #f7f7f7;
    --background-dark: #616161;
    /* Other color variables */
  }
  
  body {
    background-color: var(--background-light);
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--background-dark);
    }
  }
  .map {
    display: none;
  }
  .noti {
    display: none;
  }
  .source {
    display: none;
  }
  .panel {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    text-align: center;
    z-index: 1;
  }
  .logo {
    position: relative;
    top: 0;
    width: 85%;
    height: auto;
  }
  .start, .end
  {
    background-color: lightcyan;
    position: relative;
    width: 80%;
    border-radius: 10px;
    font-size: 3vh; 
    text-align: center;
    font-family: 'Bahnschrift', 'Copperplate';
    margin-top: 1%;
    margin-bottom: 1%;
  }
  label input.start.has-diacritics, label input.end.has-diacritics {
    font-family: Verdana, sans-serif;
    font-weight: bold;
  }
  .weather
  {
    background-color: lightcyan;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-family: 'Bahnschrift';
    font-size: 2.6vh;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    color: gray;
  }
  .btn {
    background-color: lightblue;
    width: 60%;
    padding: 5px 5px;
    text-align: center;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 10px;
    border-style: double;
    font-family: 'Bahnschrift';
    position: relative;
    margin-bottom: 1%;
    margin-top: 1%;
  }
  .btn:hover, .start:hover, .end:hover, .weather:hover
  {
    background-color: beige;
    color: black ;
  }
  .toilet {
    width: 45%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 1%;
    background-color: lightblue;
    position: relative;
    z-index: 1;
    border-radius: 5px;
  }
  #toileticon {
    margin: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    image-rendering: auto;
  }
  .parkinglot {
    width: 45%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: lightblue;
    position: relative;
    z-index: 1;
    border-radius: 5px;
  }
  #parkingicon {
    margin: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    image-rendering: auto;
  }
  @media (min-width: 1000px) {
    .start {
      border-width: 6px;
      border-radius: 50px;
    }
    .end {
      border-width: 6px;
      border-radius: 50px;
    }
    .weather {
      border-width: 5px;
      border-radius: 50px;
    }
    .btn {
      border-width: 6px;
      border-radius: 50px;
    }
    .toilet {
      border-width: 5px;
      border-color: #616161;
      border-radius: 20px;
    }
    .parkinglot {
      border-width: 5px;
      border-color: #616161;
      border-radius: 20px;
    }
  }
  @media (max-width: 999px) {
    .start {
      border-width: 2px;
      border-radius: 50px;
    }
    .end {
      border-width: 2px;
      border-radius: 50px;
    }
    .weather {
      width: 80%;
      border-width: 1.5px;
      border-radius: 50px;
      border-color: #616161;
    }
    .btn {
      border-width: 1.5px;
      border-color: #616161;
      border-radius: 50px;
    }
    .toilet {
      border-width: 2px;
      border-color: #616161;
      border-radius: 20px;
    }
    .parkinglot {
      border-width: 2px;
      border-color: #616161;
      border-radius: 20px;
    }
  }

  .rotate-message {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #616161;
    text-align: center;
    font-size: 110%;
    padding-top: 80%;
    z-index: 0;
    font-style: italic;
    font-weight:900;
  }  
  .rotate-message.visible {
    opacity: 1;
  }
  .rotate-message.hidden {
    opacity: 0;
  }
  .panel.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  /* Add a new class for showing */
  .panel.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
  }
}









@media (orientation: landscape) {
  body 
  {
    width: auto;
    background: linear-gradient(to right, #10d3ff, #fff00f);
  }
  .rotate-message {
    display: none;
  }
  .contact {
    display: none;
  }
  .map
  {
    position:absolute;
    width: 90%;
    height: 96%;
    top: 0;
    right: 5%;
    border-radius: 10px;
    z-index: -5;
    image-rendering: crisp-edges;
  }
  .goBack {
    background-color: #616161;
    position: absolute;
    top: 1.5%;
    cursor: pointer;
    width: 90%;
    border-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 5%;
    z-index: 5;
    letter-spacing: 5em;
    color: white;
    font-size: 1.8vh;
    font-family: sans-serif;
    text-align: center;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
  }
  #map-container {
    width: 100%;
    height: 110%;
    right: 0;
    top: 0;
    border-radius: 0;
  }
  .source{
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 5%;
    font-family: sans-serif;
    font-size: 1.6vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e0dfdc;
    background-color: #616161;
    letter-spacing: .1em;
    text-align: center;
  }
  #map-svg {
    z-index: 0;
  }
  .noti {
    position: relative;
    margin-top: 2%;
    margin-left: 9%;
    margin-right: 83.5%;
    text-align: justify;
    font-size: 1.2vw;
    color: beige;
    z-index: 2;
  }
  .panel {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 100%;
    text-align: center;
    z-index: 1;
  }
  .logo {
    position: relative;
    top: 0;
    width: 85%;
    height: auto;
  }
  .start, .end
  {
    background-color: lightcyan;
    position: relative;
    width: 80%;
    border-radius: 10px;
    font-size: 2vw; 
    font-family: 'Bahnschrift', 'Copperplate';
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  label input.start.has-diacritics, label input.end.has-diacritics {
    font-family: Verdana, sans-serif;
    font-weight: bold;
  }
  .weather
  {
    background-color: lightcyan;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-family: 'Bahnschrift', 'Copperplate';
    font-size: 1.6vw;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 84%;
    text-align: center;
    color: gray;
  }
  .btn {
    background-color: lightblue;
    width: 60%;
    padding: 5px 5px;
    text-align: center;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 10px;
    border-style: double;
    font-family: 'Bahnschrift', 'Copperplate';
    position: relative;
    margin-bottom: 1%;
    margin-top: 1%;
  }
  .btn:hover, .start:hover, .end:hover, .weather:hover
  {
    background-color: beige;
    color: black ;
  }
  .toilet {
    width: 45%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 1%;
    background-color: lightblue;
    position: relative;
    z-index: 1;
    border-radius: 5px;
  }
  #toileticon {
    margin: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    image-rendering: auto;
  }
  .parkinglot {
    width: 45%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: lightblue;
    position: relative;
    z-index: 1;
    border-radius: 5px;
  }
  #parkingicon {
    margin: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    image-rendering: auto;
  }
  @media (min-width: 1000px) {
    .goBackL {
      display: none;
    }
    .map {
      top: 2%;
    }
    #map-container {
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
    }
    .start {
      border-width: 6px;
      border-radius: 50px;
    }
    .end {
      border-width: 6px;
      border-radius: 50px;
    }
    .weather {
      border-width: 5px;
      border-radius: 50px;
    }
    .btn {
      border-width: 6px;
      border-radius: 50px;
    }
    .toilet {
      border-width: 5px;
      border-color: #616161;
      border-radius: 20px;
    }
    .parkinglot {
      border-width: 5px;
      border-color: #616161;
      border-radius: 20px;
    }
  }
  @media (max-width: 999px) {
    .goBackL {
      background-color: transparent;
      position: absolute;
      top: 30%;
      cursor: pointer;
      border-style: none;
      width: 10%;
      height: 30%;
      left: 2%;
      z-index: 5;
    }
    #returnicon {
      width: 100%;
      z-index: 999;
    }
    .goBack {
      top: 0;
    }
    .source {
      bottom: 2%;
    }
    .start {
      border-width: 2px;
      border-radius: 50px;
    }
    .end {
      border-width: 2px;
      border-radius: 50px;
    }
    .weather {
      width: 90%;
      border-width: 1.5px;
      border-radius: 50px;
      border-color: #616161;
    }
    .btn {
      border-width: 1.5px;
      border-color: #616161;
      border-radius: 50px;
    }
    .toilet {
      border-width: 2px;
      border-color: #616161;
      border-radius: 20px;
    }
    .parkinglot {
      border-width: 2px;
      border-color: #616161;
      border-radius: 20px;
    }
  }
  /* Add a new class for hiding */
  .panel.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  /* Add a new class for showing */
  .panel.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
  }

/* Add a new class for hiding */
  .map.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

/* Add a new class for showing */
  .map.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0s ease;
  }
}


/* .noteicon {
    position: absolute;
    background-color: green;
    top: 4%;
    bottom: 4%;
    right: 83%;
    left: 0;
    border-radius: 10px;
    z-index: 0;
  }
  #noteicon-mess {
    position: absolute;
    top: 26%;
    left: 55%;
  } */
  /* .stair {
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    background-color: yellow;
    border: 5px;
    border: 2px solid lightcyan;
    border-radius: 50%;
    margin-left: 60%;
    margin-top: 20%;
    z-index: 10;
  } */