#suggestionsStart {
    display: none;
    width: auto;
    left: 60%;
    top: 25%;
    background-color: lightblue;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
}
#suggestionsStart ul {
    font-size: 2vh;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
#suggestionsStart ul:hover {
    background-color: beige;
}
