#suggestionsStart {
    display: none;
    width: 70%;
    margin-left: 15%;
    background-color: lightblue;
    border-radius: 20px;
    font-family: 'Bahnschrift', 'Copperplate';
    padding-top: 2px;
    padding-bottom: 2px;
}
#suggestionsStart ul {
    font-size: medium;
    text-align: center;
    padding: 0;
    margin: 2px;
    cursor: pointer;
    border-radius: 20px;
}
#suggestionsStart ul:hover {
    background-color: beige;
}

#suggestionsEnd {
    display: none;
    width: 70%;
    margin-left: 15%;
    background-color: lightblue;
    border-radius: 20px;
    font-family: 'Bahnschrift', 'Copperplate';
    padding-top: 2px;
    padding-bottom: 2px;
}
#suggestionsEnd ul {
    font-size: medium;
    text-align: center;
    padding: 0;
    margin: 2px;
    cursor: pointer;
    border-radius: 20px;
}
#suggestionsEnd ul:hover {
    background-color: beige;
}